* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: darkslategray;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.gameContainer {
    position: relative;
    width: 849;
    height: 716;
    margin: 0 auto;
    margin-top: 20px;
    outline: 3px solid white;

    transform: scale(1);
}

.gameContainer canvas {
    image-rendering: pixelated;
}